<div class="input-wrapper {{id}}">
    <label for="{{name}}">{{label}}</label>
    <input type="{{type}}" name="{{name}}" id="{{id}}" {{other}} autocomplete placeholder="{{placeholder}}">
    <div class="error-msg"></div>
</div>