<div class="select-wrapper">
    <label for="{{name}}">{{label}}</label>
    <select  name="{{name}}" id="{{id}}" >
        <option value="USA">United States</option>
        <option value="PL">Poland</option>
    </select>
    <div class="error-msg"></div>
</div>